# Derived From FabricMC/fabric-loader
# Ignore everything
/*
**/.DS_Store

# Folders
!/gradle
!/src
!/.github

# Files
!/.gitattributes
!/.gitignore
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/LICENSE
!/README.md
!/settings.gradle
!/checkstyle.xml

# Build Src
!/buildSrc
/buildSrc/*
!/buildSrc/src
!/buildSrc/build.gradle
!/buildSrc/gradle.properties
